# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

branches:
  only:
    - master

cache:
  - C:\RLibrary -> appveyor.yml

environment:
  global:
    WARNINGS_ARE_ERRORS: 0
    _R_CHECK_FORCE_SUGGESTS_: false
    USE_RTOOLS: true
    PKGTYPE: both
    GITHUB_PAT:
      secure: Nu6c5CmcVdYHDUVGej5ZIXGKOXVPBwqUwjrLV8d6UlbUaAtYuUhgpNuv9oLztAQQ

  matrix:
    - R_VERSION: release
      R_ARCH: x64

build_script:
  - travis-tool.sh install_deps
  - travis-tool.sh install_github r-lib/sessioninfo r-lib/covr
  - travis-tool.sh install_github tlverse/delayed tlverse/origami tlverse/sl3
  - travis-tool.sh install_github tlverse/tmle3 tlverse/hal9001
  - travis-tool.sh install_github nhejazi/haldensify nhejazi/txshift

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

on_success:
     - Rscript -e "covr::codecov()"

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

notifications:
 - provider: Email
   to:
     - jeremyrcoyle@gmail.com
     - nh@nimahejazi.org
   subject: 'r-appveyor build {{status}}'
   message: "https://ci.appveyor.com/project/tlverse/tmle3shift"
   on_build_success: false
   on_build_failure: true
   on_build_status_changed: true
